@CHARSET "ISO-8859-1";

.sign-in-btn{
	display: block;
    width: auto;
    margin: auto;
    margin-top: 1.5rem!important;
}

.auth-logo {
    margin-bottom: 0.5rem!important;
}

.app-admin-wrap.sidebar-full .sidebar-panel {
    width: 300px;
}


.app-admin-wrap.sidebar-full .main-content-wrap {
    width: calc(100% - 300px);
    padding: 1rem 2rem 0;
}

h4.add-margin {
    margin-top: 0.5rem;
}

.dropzone .dz-preview.dz-error:hover .dz-error-message {
    display: none;
}

.dropzone .dz-preview.dz-error .dz-error-mark {
	display: none;
}

a.txt-color.btn.btn-primary.btn-rounded.m-1 {
	color: #fff;
}

.save-btn{
	text-align: center
}	

label.error {
    color: red;
}

.dt-buttons.btn-group {
    /*display: none;*/
}

@font-face {
  font-family: "iconsmind";
  src: url("../fonts/iconsmind.ttf?ioqkm7") format("truetype");
  src: url("../fonts/iconsmind.woff?ioqkm7") format("woff");
    
}
.sidebar-panel + .switch-overlay {
	z-index: 0 !important;
}
.sidebar-switch-open + .switch-overlay {
	z-index: 200000 !important;
}
 .row.top-padding {
	padding:10px 15px 20px;
}

.row.padding {
    padding: 0px 24px;
}
.modal-body.padding-style {
	padding:22px 15px;
}

.Ul_li--hover:before {
    width: 285px;
    left: -285px;
}

.status-padding-top{
	padding-top:0px;
}

li.col-sm-6.pb-2.pl-3 {
    max-width: 100%;
}

label.permissions {
    display: contents;
}

a.btn.btn-primary.back_btn.btn-rounded.float-right {
    color: white;
}

.text-red {
    color: #dd4b39 !important;
}

.btn-center {
	display: flex;
    justify-content: center;
}

a.btn.btn-primary.back_btn.btn-rounded {
    color: #fff;
}

.dropzone .dz-preview .dz-progress .dz-upload {
    background: #462369 !important;
}

.btn {
    margin-right: 10px;
}

.form-control{
    background: white;
  }
  
  button.btn.sign-in-btn.btn-rounded.btn-primary.btn-block.mt-2 {
    margin-left: 26px;
}

.remove_image{
	display: flex;
    justify-content: center;
    padding-left: 41px;
}
@media only screen and (max-width: 1150px){
	.app-admin-wrap.sidebar-full .sidebar-panel {
	    left: -300px;
	}
	.app-admin-wrap.sidebar-full .main-content-wrap {
	    width: 100%;
	}
}
  .form-group label.error {
    font-size: 12px;
     color: red; 
    margin-bottom: 4px;
}

.multiselect{
    width: 700px;
 }

 .select2-container{
    padding: 2px;
 }
 .select2-container-multi .select2-choices{
    min-height: 28px;
    margin: 0px;
    padding: 3px;
    padding-top: 0px;
}

.select2-result-label label {
    padding-left: 5px;
}

.select2-container.select2-container-multi.selectbox.form-control {
    overflow: hidden !important;
    height: auto !important;
}

.truncate {
  max-width:200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.error {
  font-size: 12px;
}
.heading-permission {
    text-transform: capitalize;
}