 .btn {
   margin-right: 10px;
  }

div.dataTables_wrapper div.dataTables_filter {
 margin-top: -27px;
}

.anchortag{
  color: black;
} 
.anchortag:hover{
  color: blue;
  text-decoration: underline;
}

@media only screen and (max-width: 768px){
	div.dataTables_wrapper div.dataTables_filter {
	 margin-top: 0;
	}
}

.btn-center{
	display: flex;
    justify-content: center;
}
textarea{
  resize: none;
}
